* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

.ms_h-80 {
    height: 80%;
}

/* HEADER */

header {
    height: 100px;
}

#logo {
    height: 20%;
    padding: 2px;
}

#logo img {
    width: 10%;
    height: 100%;
}

#search-icon i {
    display: inline-block;
    font-size: 25px;
    padding-left: 25px;
}

/* MAIN */

main .jumbotron {
    height: 900px;
}

.ms_container_jumbo {
    height: 80%;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.ms_container_jumbo_two {
    height: 100%;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
}

.ms_caption {
    width: 100%;
    padding: 50px;
}

.ms_caption .ms_caption_logo img {
    width: 100%;
}

.ms_caption_text {
    color: white;
}

.card {
    width: 60%;
    border-radius: 20px;
    overflow: auto;
}

.card img {
    width: 100%;
}

.ps_services_one {
    background-color: #BEBCBB;
}

.ps_services_two {
    background-color: #161C3B;
}

.service-img {
    width: 50%;
    padding: 30px;
}

.service-img img {
    width: 100%;
}

.service-img-games {
    width: 70%;
}

.service-img-games img {
    width: 100%;
}

.service-text {
    width: 60%;
    padding: 30px;
}

#social_media h2 {
    padding: 20px;
}

#social_media a {
    width: calc(100% / 4);
    padding: 20px 0;
}

#social_media a img {
    width: 60%;
    padding: 20px 0;
}


/* FOOTER */


/* MEDIA QUERIES */

@media screen and (max-width: 767px) {
    .service-img-games {
        display: none;
    }

    .ad {
        display: none;
    }

    .service-img {
        width: 60%;
    }
}

/* DEBUG */

/* .debug header {
    height: 100px;
}

.debug #logo {
    height: 20%;
    padding: 2px;
}

.debug #logo img {
    width: 10%;
    height: 100%;
}

.debug #search-icon i {
    display: inline-block;
    font-size: 25px;
    padding-left: 25px;
} */


/* .debug .ms_container_jumbo {
    height: 80%;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
}

.debug .ms_container_jumbo_two {
    height: 80%;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
}

.debug .ms_caption {
    width: 100%;
    padding: 50px;
}

.debug .ms_caption .ms_caption_logo img {
    width: 100%;
}

.debug .ms_caption_text {
    color: white;
}

.debug .card {
    width: 60%;
    border-radius: 20px;
    overflow: auto;
}

.debug .card img {
    width: 100%;
} */

.debug #ps_5 {
    height: 800px;
    background-color: silver;
}

.debug #new_releases {
    height: 500px;
    background-color: springgreen;
}

.debug #ex_ps {
    height: 500px;
    background-color: saddlebrown;
}

/* .debug .ps_services_one {
    background-color: #BEBCBB;
}

.debug .ps_services_two {
    background-color: #161C3B;
}

.debug .service-img {
    width: 50%;
    padding: 30px;
}

.debug .service-img img {
    width: 100%;
}

.debug .service-img-games {
    width: 70%;
}

.debug .service-img-games img {
    width: 100%;
}

.debug .service-text {
    width: 60%;
    padding: 30px;
} */

.debug #sales {
    height: 500px;
    background-color: teal;
}

.debug #social_media {

    background-color: wheat;
}

.debug footer {
    height: 500px;
    background-color: #00439C;
}